


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #857070;
}
.theme-toggler::before {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}




.theme-toggler {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(125, 143, 148);
   z-index: -1
} 
#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 280px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  #display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
    
}

button#equal {
    height: 125px;
}
.calculator.blue {
    background-color: rgb(165, 219, 233);
}
.calculator.blue #display {
    color: rgb(58, 60, 192);
  }

  .calculator.blue button#clear {
    background-color: red;
    color: white;
  }

  .calculator.blue button.btn-number {
    background-color: rgb(81, 81, 167);
    color: rgb(168, 216, 216);
  }

  .calculator.blue button.btn-operator {
    background-color: red;
    color: white;
  }
  
  .calculator.blue button.btn-equal {
    background-color: red;
    color: white;
  }